<h1>Choose your status</h1>
<button class="btn btn-danger" (click) = "Choose1(1)">User</button>
<button class="btn btn-success" (click) = "Choose1(2)">Roma</button>
<button class="btn btn-dark" (click) = "Choose1(3)">Log out</button>

<div [ngSwitch]="statusPicked">
  <div *ngSwitchCase="'User'">
    <h1><span class="badge bg-secondary">Your personal data:</span></h1>
    <div class="row">
      <div class="col">{{userList[1].name}}</div>
      <div class="col">{{userList[1].surname}}</div>
      <div class="col">{{userList[1].age}}</div>
      <div class="col">{{userList[1].hobbies}}</div>
      <div class="col">{{userList[1].born | date : 'MM/dd/yyyy'}}</div>
    </div>
  </div>
  <div *ngSwitchCase="'Roma'">
    <h1><span class="badge bg-secondary">Your personal data:</span></h1>
    <div>{{userList[0].name}}</div>
    <div>{{userList[0].surname}}</div>
    <div>{{userList[0].age}}</div>
    <div>{{userList[0].hobbies}}</div>
    <div>{{userList[0].born | date : 'MM/dd/yyyy'}}</div>
      
  </div>
  <div *ngSwitchDefault>
      You need to choose your status to see some info.
  </div>
</div>