<h1><span class="badge text-bg-danger">Registration</span></h1>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Nick:</span>
  <input (keyup)="Nick($event)" type="text" class="form-control" placeholder="User12345" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Password:</span>
  <input (keyup)="Pass($event)" type="text" class="form-control" placeholder="123456789" aria-label="Username" aria-describedby="basic-addon1">
</div>
<button (click)="Check()" class="btn btn-danger" type="button">Log in</button>

<div [ngSwitch]="Username && Password">
  <div class="list" *ngSwitchCase="'User' && '987654321'">
    <app-profile [tasklist]="userList" [item]="Username"></app-profile>
  </div>
  <div class="list" *ngSwitchCase="'Roma' && '123456789'">
    <app-profile [tasklist]="romaList" [item]="Username"></app-profile>
  </div>
  <div class="list" *ngSwitchCase="'Administrator' && 'Admin'">
    <app-profile [tasklist]="emptylist" [item]="Username"></app-profile>
  </div>
  <h6 class="list" *ngSwitchCase="'Hints' && 'getHint'">
      <app-hints (newItemEvent)="Nick2($event)" (newItemEvent2)="Pass2($event)"></app-hints>
  </h6>
</div>