<h1>Choose your status</h1>
<button class="btn btn-danger" (click) = "Choose1(1)">User</button>
<button class="btn btn-success" (click) = "Choose1(2)">Roma</button>
<button class="btn btn-dark" (click) = "Choose1(3)">Log out</button>

<div [ngSwitch]="statusPicked">
  <div *ngSwitchCase="'User'">
    <app-profile [tasklist]="userList" [item]="statusPicked"></app-profile>
  </div>
  <div *ngSwitchCase="'Roma'">
    <app-profile [tasklist]="romaList" [item]="statusPicked"></app-profile>
  </div>
  <div *ngSwitchDefault>
      You need to choose your status to see some info.
  </div>
</div>