<h1><span class="badge bg-secondary">Your homework:</span></h1>
<table class="table table-dark table-striped">
    <thead>
        <tr>
          <th scope="col">{{'#' | uppercase}}</th>
          <th scope="col">{{'Task' | uppercase}}</th>
          <th scope="col">Subject</th>
          <th scope="col">Requirements</th>
          <th scope="col">Deadline</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasklist; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{task.name | uppercase }}</td>
          <td>{{task.subject}}</td>
          <td>{{task.requirements}}</td>
          <td>{{task.deadline | date : 'h:mm dd/MM'}}</td>
        </tr>
      </tbody>
</table>
<h1><span class="badge bg-secondary">you loged in as {{item}}</span></h1>